.dashboard__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

.dashboard__chart {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
